# backend config
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# database config
DB_DIALECT=postgres
DB_HOST=0.0.0.0
DB_PORT=5432
DB_NAME=govault
DB_USER=backend
DB_PASSWORD=
DB_SSL_MODE=disable

# migrations config
GOOSE_MIGRATION_DIR=./migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="$DB_DIALECT://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=$DB_SSL_MODE"

